@use './navigation-button.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    height: 100vh;
    background: #ffffff;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#passcode-form .title {
    display: block;
}

.player-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #ffffff;
}

.reels-container {
    display: flex;
    width: var(--video-width, 35rem);
    height: var(--video-height, 65rem);
    gap: 2rem;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 2rem;
    scroll-snap-type: y mandatory;
    position: relative;
}
.reels-container::-webkit-scrollbar {
    display: none;
}

.reels-inner-container {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    aspect-ratio: 9 / 16;
    background-color: #000000;
    border-radius: 2rem;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reels-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
}